* {
  box-sizing : border-box;
  margin:0;
  padding: 0;
}

img{
  max-width: 100%;
}


.wrapper{
  width: 90%;
  margin: auto; 

}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: black;
}

/*NAVBAR*/

nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1em;
}

nav img{
  width: 60px;
  float: left;
}

.logo{
display: flex;
grid-column: 1/2;
justify-content: start;
align-items: center;
gap: 2%;
font-family: 'Krona One';
font-size: 14px;
}

.navcat{
display: flex;
grid-column-end: 3;
justify-content: space-between;
align-items: center;
gap: 2%;
font-family: 'Krona One';
font-size: 14px;

}

/*HEADER*/


/*MAIN*/


/*FOOTER*/